<?xml version='1.0' encoding='utf-8'?>
<widget id="com.unicef.cboard" version="1.1.4" xmlns="http://www.w3.org/ns/widgets"  xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cboard</name>
    <description>
      AAC communication board with text-to-speech.
    </description>
    <author email="support@cboard.io">Cboard team</author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <!-- Allow links to google and facebook and cboard API -->
    <allow-navigation href="https://*.cboard.io/*" />
    <allow-navigation href="https://*.google.com/*" />
    <allow-navigation href="https://*.facebook.com/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <preference name="LoadingDialog" value="Wait for loading" />
        <preference name="HideKeyboardFormAccessoryBar" value="true" />
        <preference name="Fullscreen" value="true" />
        <preference name="StatusBarOverlaysWebView" value="true" />
        <config-file after="uses-permission" parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
        </config-file>
        <resource-file src="public/res/values/colors.xml" target="/app/src/main/res/values/colors.xml" />
        <icon background="@color/background" density="ldpi" foreground="public/images/pwa/android/android-launchericon-36-36.png" />
        <icon background="@color/background" density="mdpi" foreground="public/images/pwa/android/android-launchericon-48-48.png" />
        <icon background="@color/background" density="hdpi" foreground="public/images/pwa/android/android-launchericon-72-72.png" />
        <icon background="@color/background" density="xhdpi" foreground="public/images/pwa/android/android-launchericon-96-96.png" />
        <icon background="@color/background" density="xxhdpi" foreground="public/images/pwa/android/android-launchericon-144-144.png" />
        <icon background="@color/background" density="xxxhdpi" foreground="public/images/pwa/android/android-launchericon-192-192.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="Fullscreen" value="true" /> 
</widget>
