version: 2.1

orbs:
  win: circleci/windows@5.0

jobs:
  build_cboard:
    docker:
      - image: cimg/node:22.14.0
    resource_class: large
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Decrypt the Google services file 
          command: |
            openssl aes-256-cbc -d -md sha256 \
            -pbkdf2 \
            -in  google-services.json.cypher \
            -out google-services.json \
            -k $KEY
      - run:
          name: Decrypt the Google services info .plist file 
          command: |
            openssl aes-256-cbc -d -md sha256 \
            -pbkdf2 \
            -in  GoogleService-info.plist.cipher \
            -out GoogleService-info.plist \
            -k $KEY
      - run: 
          name: Sync cboard module 
          command: |
            git submodule sync
            git submodule update --init
      - run:
          name: Install cboard
          command: |
            export NODE_OPTIONS=--max-old-space-size=8192
            cd cboard
            git checkout master 
            git pull
            yarn install
      - run:
          name: Replace cboard files 
          command: |
            cd cboard
            sudo sed -i 's+"homepage": "https://app.cboard.io",+"homepage": ".",+g' package.json
            sudo sed -i 's+<meta charset="utf-8">+<meta charset="utf-8"><script src="cordova.js"></script>+g' public/index.html
      - run:
          name: Build cboard
          command: |
            export NODE_OPTIONS=--max-old-space-size=8192
            cd cboard
            yarn build --verbose 
      - persist_to_workspace:
          root: cboard
          paths:
            - build/*
      - run:
          name: Generate zip file
          command: |
            cd cboard 
            zip build.zip -r build
      - store_artifacts:
          path: ./cboard/build.zip
      - store_artifacts:
          path: ./cboard/package.json
      - store_artifacts:
          path: ./cboard/public/index.html
  build_android:
    docker:
      - image: cimg/android:2026.02.1-node
    working_directory: ~/repo
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - run:
          name: Decrypt the Google services file 
          command: |
            openssl aes-256-cbc -d -md sha256 \
            -pbkdf2 \
            -in  google-services.json.cypher \
            -out google-services.json \
            -k $KEY
      - run:
          name: Decrypt the Google services info .plist file 
          command: |
            openssl aes-256-cbc -d -md sha256 \
            -pbkdf2 \
            -in  GoogleService-info.plist.cipher \
            -out GoogleService-info.plist \
            -k $KEY
      - run:
          name: Decrypt the keystore file 
          command: |
            openssl aes-256-cbc -d -md sha256 \
            -pbkdf2 \
            -in  ccboard.keystore.cypher \
            -out ccboard.keystore \
            -k $KEY    
      - run: 
          name: Install gradle
          command: |
            wget https://services.gradle.org/distributions/gradle-6.8.1-bin.zip -P /tmp
            sudo unzip -d /opt/gradle /tmp/gradle-*.zip
            echo 'export GRADLE_HOME=/opt/gradle/gradle-6.8.1' >> $BASH_ENV
            echo 'export PATH=$PATH:/opt/gradle/gradle-6.8.1/bin' >> $BASH_ENV
            source $BASH_ENV
      - run:
          name: Install Cordova
          command: |
            sudo npm install -g cordova
            mkdir www
            mkdir /tmp/workspace
      - run:
          name: Install dependencias 
          command: |
            yarn install --cache-folder ~/.cache/yarn
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Copy Build
          command: |
            cp -R /tmp/workspace/build/. www
            ls -a www
      - run:
          name: Install jdk 17 
          command: |
            sudo apt-get update && sudo apt-get upgrade
            sudo apt-get install openjdk-17-jdk
      - run:
          name: Install build-tools 34.0.0
          command: |
            sdkmanager "build-tools;34.0.0"
            sdkmanager --list
      - run:
          name: Build Android 
          command: |
            export JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
            export PATH=$JAVA_HOME/bin:$PATH
            sudo update-alternatives --set java /usr/lib/jvm/java-17-openjdk-amd64/bin/java
            cordova platform add android --noresources
            cordova build android --release --verbose
            cordova build android --verbose
            cp platforms/android/app/build/outputs/bundle/release/app-release.aab ccboard.aab
            cp platforms/android/app/build/outputs/apk/debug/app-debug.apk ccboard-debug.apk
            $ANDROID_HOME/build-tools/34.0.0/zipalign -v 4 ccboard.aab cboard.aab
            $ANDROID_HOME/build-tools/34.0.0/zipalign -v 4 ccboard-debug.apk cboard-debug.apk
            $JAVA_HOME/bin/jarsigner -verbose -storepass 'morning ' -sigalg SHA1withRSA -digestalg SHA1 -keystore ccboard.keystore cboard.aab ccboard
            $JAVA_HOME/bin/jarsigner -verbose -storepass 'morning ' -sigalg SHA1withRSA -digestalg SHA1 -keystore ccboard.keystore cboard-debug.apk ccboard
            mkdir -p /tmp/apk
            cp -r cboard.aab /tmp/apk
            cp -r cboard-debug.apk /tmp/apk
      - store_artifacts:
          path: /tmp/apk
          destination: apks
  build_electron:
    executor:
      name: win/default
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Install Node 22.14.0	
          command: |
            nvm list
            nvm install 22.14.0	
            nvm use 22.14.0	  
      - run:
          name: Verify node, npm and nvm version
          command: |
            node -v
            npm -v
            nvm version
      - run:
          name: Install cordova
          command: |
            npm install -g cordova
            mkdir www
            mkdir -p ./tmp/workspace
      - run:
          name: Install dependecies
          command: |
            npm i
      - attach_workspace:
          at: ./tmp/workspace
      - run:
          name: Copy Build
          command: |
            Copy-Item ./tmp/workspace/build/* ./www -recurse
            "{0:N2}" -f ((Get-ChildItem -path ./www -recurse | Measure-Object -property length -sum ).sum /1MB) + " MB"
            Get-ChildItem ./www
            Get-ChildItem .
      - run:
          name: Add Electron Platform
          command: |
            cordova platform add electron@3.0.0 --noresources
      - run:
          name: Build Electron App
          command: |
            $env:CSC_IDENTITY_AUTO_DISCOVERY = "false"
            $env:WIN_CSC_KEY_PASSWORD = ""
            cordova build electron --release 
            mkdir ./tmp/exe
            Copy-Item ./platforms/electron/build/*.exe ./tmp/exe
      - store_artifacts:
          path: ./tmp/exe
          destination: exe
  build_ios:
    macos:
      xcode: "26.3.0"
    environment:
      FL_OUTPUT_DIR: output
      FASTLANE_LANE: test
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Decrypt the Google services info .plist file
          command: |
            openssl aes-256-cbc -d -md sha256 \
            -pbkdf2 \
            -in  GoogleService-info.plist.cipher \
            -out GoogleService-info.plist \
            -k $KEY
      - run:
          name: Install Node 22.14.0
          command: |
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            nvm install 22.14.0
            nvm use 22.14.0
            nvm alias default 22.14.0
            echo 'export NVM_DIR="$HOME/.nvm"' >> $BASH_ENV
            echo '[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV
      - run:
          name: Verify node and npm version
          command: |
            node -v
            npm -v
      - run:
          name: Install Cordova
          command: |
            npm install -g cordova
            mkdir www
      - run:
          name: Install dependencies
          command: |
            npm i
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Copy Build
          command: |
            cp -R /tmp/workspace/build/. www
            ls -a www
      - run:
          name: Install and update CocoaPods
          command: |
            sudo gem install cocoapods
            pod setup
            pod update
      - run:
          name: Add iOS Platform
          command: |
            cordova platform add ios --noresources
      - run:
          name: Copy GoogleService-info.plist
          command: |
            cp GoogleService-info.plist "platforms/ios/AAC Cboard/"
      - run:
          name: Build iOS App
          command: |
            cordova build ios --device -- \
              CODE_SIGN_IDENTITY="" \
              CODE_SIGNING_REQUIRED=NO \
              CODE_SIGNING_ALLOWED=NO
            mkdir -p /tmp/ipa
            find platforms/ios/build -name "*.app" -exec cp -r {} /tmp/ipa/ \; 2>/dev/null || true
            find platforms/ios/build -name "*.ipa" -exec cp {} /tmp/ipa/ \; 2>/dev/null || true
      - store_artifacts:
          path: /tmp/ipa
          destination: ipa
      
workflows:
  version: 2.1
  build_cordova:
    jobs:
      - build_cboard:
          context: ccboard
          filters:
            branches:
              only: 
                - master
      - build_android:
          context: ccboard
          requires:
            - build_cboard
          filters:
            branches:
              only: 
                - master
      - build_electron:
          context: ccboard
          requires:
            - build_cboard
          filters:
            branches:
              only: 
                - master
      - build_ios:
          context: ccboard
          requires:
            - build_cboard
          filters:
            branches:
              only: 
                - master
